@import "tailwindcss";
@import "tw-animate-css";

/* @custom-variant dark (&:is(.dark *)); */

@theme {
  --font-sans: "Inter", sans-serif;

  --color-primary-500: #FED550;
  --color-primary-300: #FEE9A3;
  --color-primary-100: #FFF6D8;
  --color-black: #18181A;
  --color-gray-500: #FEE9A3;
  --color-gray-100: #D8D8D8;
  --color-gray-50: #F0F0F0;
  --color-white: #FFFFFF;
  --color-red-500: #CC0000;
  --color-red-100: #EFADAD;

  --max-container-width: 1088px;
  --min-menu-width: 64px;
  --max-menu-width: 290px;
  --max-main-width: calc(1088px - var(--min-menu-width) - 1px);
}

@layer base {
  body {
    @apply bg-gray-50 overscroll-y-none;
  }

  .main-container {
    width: calc(100vw - 64px - 4px);
  }

  @media (min-width: 48rem) and (max-width: 1088px) {
    .main-container {
      width: calc(100vw - 290px - 4px);
    }
  }

  @media (min-width: 1089px) {
    .main-container {
      width: calc(1088px - 290px - 4px);
    }
  }
}
