@import 'tailwindcss';
@import 'tw-animate-css';

/* @custom-variant dark (&:is(.dark *)); */

@theme {
  --font-sans: 'Inter', sans-serif;

  --color-primary-500: #fed550;
  --color-primary-300: #fee9a3;
  --color-primary-100: #fff6d8;
  --color-black: #18181a;
  --color-gray-500: #45434d;
  --color-gray-100: #d8d8d8;
  --color-gray-50: #f0f0f0;
  --color-white: #ffffff;
  --color-red-500: #cc0000;
  --color-red-100: #efadad;

  --max-container-width: 1088px;
  --min-menu-width: 64px;
  --max-menu-width: 240px;
  --max-main-width: calc(1088px - var(--min-menu-width) - 1px);
}

@layer base {
  body {
    @apply bg-gray-50 overscroll-y-none;
  }

  .main-container {
    width: calc(100vw - 64px - 4px);
  }

  @media (min-width: 48rem) and (max-width: 1088px) {
    .main-container {
      width: calc(100vw - 290px - 4px);
    }
  }

  @media (min-width: 1089px) {
    .main-container {
      width: calc(1088px - 290px - 4px);
    }
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
